{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% load static %}
        <h1>Информация об использовании сайта</h1>
{#        {% if user.is_superuser %}#}
{#            <h2>Административная панель</h2>#}
{#            <p>Так выглядит административная панель, перйдя в "Плользователи", можно создавать, редактировать и удалять пользователелей.</p>#}
{#            <img src="/media/home/ap1.png" width="500">#}
{#            <p>Администрирование пользователей</p>#}
{#            <img src="/media/home/ap2.png" width="500">#}
{#            <p>Создание пользователя</p>#}
{#            <img src="/media/home/ap3.png" width="500">#}
{#            <p>Присвоение пользователю прав на создание, изменения, удаление данных о товарах, категориях и сохранненых планограммах</p>#}
{#            <img src="/media/home/ap4.png" width="500">#}
{#        {% endif %}#}
        <h2>Работа с каталогом</h2>
        <p>В каталоге можно просмотреть товары, чтобы перейти к ним, изменить или удалить. Можно фильтровать товары по
            категории или выполнить поиск, начав вводить наименование или артикул товара.</p>
        <img src="/media/home/catalog.png" width="500">
        <p>При создании товара можно выбрать категорию. Если категории нет, то можно ее создать, нажав на +. Категория
            будет помещена в категорию, которая выбрана в выпадающем списке. Если наименование некорректно, можно его
            изменить, выбрав "карандаш", и удалить, выбрать "крест". Если удалить категорию, то удаляются и все товары,
            находящиеся в ней.</p>
        <img src="/media/home/create_prd.png" width="350">
        <p>При импортировании необходимо выбрать xml файл выгрузки, после чего нажать "ОК". Стоит подождать немного,
            пока появится сообщение об удачной выгрузке.</p>
        <img src="/media/home/import.png" width="350">
        <h2>Страница создания планограммы.</h2>
        <img src="/media/home/maker1.png" width="500">
        <p>Задание параметров стеллажа. Можно выбрать цвет. Высота, ширина и глубина задаются в сантиметрах. Также можно
            задать толщину полки. Высота полки определяется в сантиметрах относительно пола. Толщину полки следует
            учитывать отдельно при расчете расстояния между полками.</p>
        <img src="/media/home/maker2.png" width="500">
        <p>Пример создания стеллажа.</p>
        <img src="/media/home/maker3.png" width="500">
        <p>Меню "добавление продуктов", "добавление крючков", "прилипание к полке", "перемещение выбранного продукта
            стрелочками", "возвращение исходного масштаба", "выбор сохраненной планограммы", "сохранение текущей планограммы", "выгрузить схему планограммы".</p>
        <img src="/media/home/maker4.png" width="800">
        <p>Выбор продукта для помещения на планограмму.</p>
        <img src="/media/home/products.png" width="500">
        <p>Для удаления товара с полки его необходимо выделить и нажать клавишу Backspace.</p>
        <p>Выбор сохраненной планограммы.</p>
        <img src="/media/home/choose_pln.png" width="350">
        <p>Сохранение планограммы</p>
        <img src="/media/home/save_pln.png" width="350">
        <p>Выгрузка схемы.</p>
        <img src="/media/home/export.png" width="350">

    {% else %}
        <p>Авторизуйтесь, чтобы получить доступ к странице</p>
    {% endif %}

{% endblock %}